<html>
  <head>
    <title>VisualizeIt</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>


    <script type="text/javascript" src="/scripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/scripts/lib/backbone.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3-min.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

    <nav class="row navbar container u-full-width">
      <div class="one-half column">
        <h1 class="brand-logo"><p>Visualize</p><p class="it">It</p></h1>
      </div>
      <div class="row one-half column mainNav">
        <% if current_user %>
        <div class="three columns usernav">
          <form class="logoutForm"action="/sessions" method='post'>
            <input type="hidden" name='_method' value='delete'>
            <input type="submit" value='Log-Off'>
          </form>
        </div>
        <% else %>
          <div class="two-thirds column guestnav ">

            <div class="u-full-width guestbtn">
              <form class="one-half column navbutton" action="/log_in" method="get">
                <button type="submit" onclick="LoginForm()"id="signin">Log In </button>
              </form>
              <form class="one-half column navbutton" action="/sign_up" method="get">
                <button type="submit" class="" id="signup">Sign Up</button>
              </form>
            </div>
            <p class="question two-thirds column">Log In/Sign up for more cool views!</p>
          </div>

        <% end %>
      </div>
    </nav>

    <div class="container">
        <%= yield %>
		</div>

  </body>

</html>
