<html>
  <head>
    <title>VisualizeIt</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="/scripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/scripts/lib/backbone.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3-min.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3.js"></script>

  </head>

  <body>
		<div class="container">

      <p class="nav">
        <button type="button" name="three">SignUp</button>
        <button type="button" name="two">Log In</button>
        <button type="button" name="two">Log Out</button>
      </p>

			<div class="three columns">Visualize</div>

        <%= yield %>

		</div>
  </body>

</html>
