<html>
  <head>
    <title>VisualizeIt</title>
    <link rel="stylesheet" href="/styles/nomalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
		<div class="container">

      <p class="nav">
        <button type="button" name="three">SignUp</button>
        <button type="button" name="two">Log In</button>
        <button type="button" name="two">Log Out</button>
      </p>

			<h1>Visualize</h1>

        <%= yield %>

		</div>
  </body>
  
</html>
