<html>
  <head>
    <title>VisualizeIt</title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="/scripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/scripts/lib/backbone.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3-min.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3.js"></script>

  </head>

  <body>
		<div class="container">

      <div class="row nav">
        <% if current_user %>
          <form class="signout" action="/sessions" method=":destroy">
            <button type="submit" id="signout">Log Out</button>
          </form>
        <% else %>
        <div class="row guestnav six columns">
          <form class="new" action="/log_in" method="get">
            <button type="submit" id="signin">Log In</button>
          </form>
          <form class="new" action="/sign_up" method="get">
            <button type="submit" id="signup">Sign Up</button>
          </form>
        </div>
        <% end %>
      </div>

			<h1 class=" row three columns">Visualize</h1>

        <%= yield %>

		</div>
  </body>

</html>
