<html>
  <head>
    <title>VisualizeIt</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>


    <script type="text/javascript" src="/scripts/lib/jquery.js"></script>
    <script type="text/javascript" src="/scripts/lib/underscore.js"></script>
    <script type="text/javascript" src="/scripts/lib/backbone.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3-min.js"></script>
    <script type="text/javascript" src="/scripts/lib/d3.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>

    <div class="container skeleton">
      <article class="one column ">One</article>
      <article class="one column ">Two</article>
      <article class="one column ">Three</article>
      <article class="one column ">Four</article>
      <article class="one column ">Five</article>
      <article class="one column ">Six</article>
      <article class="one column ">Seven</article>
      <article class="one column ">Eight</article>
      <article class="one column ">Nine</article>
      <article class="one column ">Ten</article>
      <article class="one column ">Eleven</article>
      <article class="one column ">Twelve</article>
    </div>

    <div class="container">
      <div class="row nav">
        <% if current_user %>
        <form action="/sessions" method='post'>
          <input type="hidden" name='_method' value='delete'>
          <input type="submit" value='Log-Off'>
        </form>
        <% else %>
        <div class="row guestnav">
          <form class="new" action="/log_in" method="get">
            <button type="submit" id="signin">Log In</button>
          </form>
          <form class="new five columns" action="/sign_up" method="get">
            <button type="submit" id="signup">Sign Up</button>
          </form>
        </div>
        <% end %>
      </div>
      <div class="eight columns ">
        <h1 class="brand-logo"><p>Visualize</p><p class="it">It</p></h1>
      </div>
        <%= yield %>
		</div>
  </body>

</html>
