

<div class="login_form row">
	<h2>Log In</h2>
		<form action= "/sessions" method='post'>
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="Submit" value="Sign-In">
		</form>
</div>
