
		<form class="form" action= "/users" method='post'>
			<input type="text" name="user[username]" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<button type="Submit" value="Sign-Up">Sign Up</button>
		</form>
