
	<form class="logoutForm"action="/sessions" method='post'>
		<input type="hidden" name='_method' value='delete'>
		<button type="submit" value='Log-Off'>Sign Out</button>
	</form>
<form action="Visuals(this.value)">
		<select class "four columns" type="button" id="dropdown">
			<option value=VisualOne(data);>Visual 1</option>
			<option value=VisualTwo(data);>Visual 2</option>
		</select>
</form>


<!-- <div class="options row u-full-width">
	<button type="button" name="userPref">Saved Pref</button>
	<button type="button" name="visual"> Select Visualization"</button>
	<input type="text" name="AudioUrl" value="Add audio URL">
</div> -->
