
<div class="options row ten columns">
	<h4>User/Guest Preferences</h4>
	<button type="button" name="userPref">Saved Pref</button>
	<button type="button" name="visual"> Select Visualization"</button>
	<input type="text" name="AudioUrl" value="Add audio URL">
</div>
