
<h3>Display current selections</h3>

<div class="options ten columns">
	<h4>User/Guest Preferences</h4>
	<input type="button" name="userPref" value="Saved Pref">
	<input type="button" name="visual" value="Select Visualization">
	<input type="text" name="AudioUrl" value="Add audio URL">

</div>
