
	<form class="logoutForm"action="/sessions" method='post'>
		<input type="hidden" name='_method' value='delete'>
		<button type="submit" value='Log-Off'>Sign Out</button>
	</form>
<form>
		<select class "four columns" type="button" id="dropdown" >
			<option value= '' >Select Visual</option>
			<option value= 1 >Visual 1</option>
			<option value= 2 >Visual 2</option>
		</select>
		<button type="button" id="newVisual">Start VisualizeIt</button>
</form>


<!-- <div class="options row u-full-width">
	<button type="button" name="userPref">Saved Pref</button>
	<button type="button" name="visual"> Select Visualization"</button>
	<input type="text" name="AudioUrl" value="Add audio URL">
</div> -->
