/*$MainFont:  'Lato', sans-serif;
$FontCLR: #A0A0A0;
$MainBG: #25383F;
$BorderCLR: #1E666C*/

body{
		background-color: #2C3335;
		color: #A0A0A0;
}
.one{
	border: 2px dashed yellow;
	height: 10em;
	display: none;
}
.row{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
}
h2{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
}
.brand-logo{
	font-family: 'Lato', sans-serif;
	font-size: 65px;
	position: relative;
	display: inline-flex;
	margin: 0px auto;
}
.logo{
	margin: 0px auto;
}
#it{
	color:#1E666C;
}

input {
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
button {
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
.options{
	position: relative;
	/*border: 2px dashed white;*/
}

/*.one-half{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
}*/
svg{
	margin-top: 3em;
	/*border: 2px dashed white;*/
	background-color: black;
	border-radius: 10px;
	-webkit-box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);
	-moz-box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);
	box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);

}
.logoutForm{
	position: relative;
	float: right;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
.usernav{
	float:right;
	margin: 0 auto;
	padding-top: 1.5em;
	display: inline-block;
}

.navbar{
	margin-top: 0.5em;
}
.question{
	text-align: center;
	font-size: 16px;
	margin: 0px auto;
	padding-left: 15px;
}
.navbutton{
	float: right;
	margin: 1em;
}

#userOptions{
/*display: none;*/
}
#guestbtn{
	margin-top: 1em;
}
#login_form{
	margin-top: 1.5em;
}
#signup_form{
	font-size: 14px;
	display: inline-block;
	float: left;
	margin-top: 1.5em;
}

.form{
	margin: 0px auto;
	display: inline-block;
	font-family: 'Lato', sans-serif;
}
#dropdown{
	position: relative;
	display: inline;
	float: right;
	margin: 0 auto;
	background-color: inherit;
	border-color: #1E666C;
	font-family: 'Lato', sans-serif;
}
#newVisual{
	float: right;
	margin-right: 1.5em;

}
#divsvg:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
