/*$MainFont:  'Lato', sans-serif;
$FontCLR: #A0A0A0;
$MainBG: #25383F;
$BorderCLR: #1E666C*/

body{
		background-color: #2C3335;
		color: #A0A0A0;
}
.one{
	border: 2px dashed yellow;
	height: 10em;
	display: none;
}
.container{
	margin: 0 auto;
}
form{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
.row{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
}
h2{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
}
h1{
	font-family: 'Lato', sans-serif;
	font-size: 65px;
	position: relative;
	display: inline-flex;
	margin-top: 15px;
}
.it{
	color:#1E666C;
}
input {
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
button {
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	border-color: #1E666C;
}
.options{
	margin-top: 75px;
	position: relative;
	/*border: 2px dashed white;*/
}

.one-half{
	font-family: 'Lato', sans-serif;
	color: #A0A0A0;
	margin: 0 auto;
}
svg{
	margin-top: 3em;
	/*border: 2px dashed white;*/
	background-color: black;
	border-radius: 10px;
	-webkit-box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);
	-moz-box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);
	box-shadow: 1px 5px 99px 45px rgba(0,0,0,.73);
}
.logoutForm{
	float: right;
	margin: 0 auto;
}
.usernav{
	float:right;
	margin: 0 auto;
	padding-top: 2.2em;
}
.guestbtn{
	float: right;

}
.navbutton{
	margin: 0px auto;
	/*float: right;*/
}
.guestnav{
	float: right;
	margin-top: 2.5em;
}
.navbar{
	align-content: center;
	/*margin-top: 2em;*/
}
.question{
	float: right;
	margin-right: 2.95em;
	text-align: center;
	font-size: 13px;
}
#signin{
	position: relative;
	float: right;
}

#signup{
		position: relative;
		float: right;
}
#userOptions{
	display: none;
}
